In [1]:
'hi' == 'hi'

True

In [2]:
1 < 2 and 2 < 3

True

In [3]:
1 < 2 and 2 < 1

False

In [4]:
not 1 == 1

False

In [5]:
not 400 > 5000

True

In [11]:
 mylist = [(1,2),(3,4),(5,6),(7,8)]

In [13]:
for a,b in mylist:
    print(b)

2
4
6
8

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

In [27]:
d = {'k1':1,'k2':2,'k3':3}

for key in d.keys():
    print(key)

k3
k2
k1

In [28]:
range(0,10)

range(0, 10)

In [29]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [30]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [31]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [32]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [33]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [34]:
zip(mylist1,mylist2,mylist3)

In [35]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [36]:
'a' in 'hola'

True

In [37]:
'1' in (1,2,3)

False

In [38]:
1 in (1,2,3)

True

In [39]:
'mykey' in {'mykey':123}

True

In [42]:
d = {'mykey':123}

123 in d.values()

True

In [47]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)

In [48]:
mylist

[5, 1, 4, 9, 7, 2, 3, 6, 8]

In [49]:
result = input('what is your goal?')

what is your goal?be cool

In [50]:
result

'be cool'

In [51]:
 list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
celcius = [0,10,20,34.5]

fahrenheit = [ ((9/5)*temp + 32) for temp in celcius]

In [53]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [54]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(temp*9/5 + 32)

In [55]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [58]:
numlist = list(range(0,12))

In [59]:
numlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [62]:
even_num = [num**2 for num in numlist if num%2 == 0]

In [63]:
even_num

[0, 4, 16, 36, 64, 100]

In [64]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [65]:
dog_check('dog ran away')

True

In [66]:
dog_check('Dog ran away')

True

In [67]:
dog_check('cat ran away')

False

In [68]:
sum((2,3))

5

In [70]:
sum((2,3))

5

In [71]:
test = 'Hi'

In [73]:
test.upper()

'HI'

In [74]:
def myfunc(str_param):
    result = []
    for index, value in enumerate(str_param):
        if index%2 == 0:
            result.append(value.lower())
        else:
            result.append(value.upper())
    return result

In [75]:
myfunc('Anthro')

['a', 'N', 't', 'H', 'r', 'O']

In [76]:
def check_even(num):
    return num%2 == 0

In [77]:
mynums = [1,2,3,4,5,6]

In [78]:
list(filter(check_even, mynums))

[2, 4, 6]

In [79]:
list(map(check_even, mynums))

[False, True, False, True, False, True]

In [1]:
test_list = ['Anthro', 'hi', 'great']

In [5]:
test_list[::-1]

['great', 'hi', 'Anthro']

In [7]:
'Anthro'[::-1]

'orhtnA'

In [12]:
'h' * 3

'hhh'

In [7]:
set((1,1,2,2,3,3))

{1, 2, 3}

In [10]:
len(set([2,2,3,3]))

2

In [1]:
'!'.islower()

False

In [4]:
['-'] * 3

['-', '-', '-']

In [2]:
a = input('give me a number: ')

give me a number: 45

In [3]:
a

'45'

In [8]:
empty_variable = 1

In [9]:
if empty_variable is None:
    print('hi')

In [3]:
range(1,9)

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
[1,2,4] in [1,2,4,3]

False

In [4]:
[' ', ' '] == [' ', 'X']

False

In [11]:
board = ['X','O', ' ']

In [21]:
' ' in board[0:2]

False

In [1]:
a = 1
def printA(a):
    print(a)
    a = 2
printA(a)
print(a)

b = [1,2]
def printB(b):
    print(b)
    b[0] = 3
printB(b)
print(b)

1
1
[1, 2]
[3, 2]

In [11]:
class Dog():
    def __init__(self, breed, name):
        self.breed = breed
        self.name = name
    def bark(self):
        print('Woof!')

In [13]:
my_dog = Dog('lab', 'dodo')

In [14]:
my_dog.bark()

Woof!